<h2>Examples</h2>
<nav>
  <ul>
    <li routerLinkActive="active">
      <a routerLink="can-activate">can-activate</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="can-deactivate">can-deactivate</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="can-match">can-match</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="resolve">resolve</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="1">Run Guards And Resovers</a>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>

<router-outlet name="about"></router-outlet>
