nav {
  ul {
    display: flex;
    li {
      background-color: var(--main-color);
      border-radius: 4px;
      line-height: 1.25;
      padding: 2px 6px;

      &.active {
        background-color: var(--main-color__darknest);
      }
      &:not(:first-of-type) {
        margin-left: 6px;
      }

      > a {
        color: white;
      }
    }
  }
}
